.events {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 5% auto;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    .event-card {
        background: #fff;
        margin-bottom: 30px;
        position: relative;
        display: flex;
        margin: 30px 0;
        border-radius: 8px;
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
        .event-head {
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            border-radius: 8px 0 0 8px;
            .event-date {
                font-family: "Open Sans", sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
                white-space: nowrap;
            }
        }
        .event-body {
            padding: 20px;
            text-align: left;
            .event-title {
                font-family: "Open Sans", sans-serif;
                font-size: 1.2rem;
                line-height: 1.4;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 1.5px;
            }
            .event-dates {
                color: #525f7f;
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
            }
            .event-description {
                padding-top: 20px;
                padding-bottom: 20px;
                font-family: "Open Sans", sans-serif;
                flex-basis: 60%;
                color: #525f7f;
            }
            .event-button {
                color: #fff;
            }
            .event-button:hover {
                filter: brightness(85%);
            }
        }
    }
}

.table {
    .badge {
        color: #fdf0d5;
    }
}

.event-modal {
    color: #0a0908;
    .modal-content {
        background-color: #edf6f9;
        .modal-header {
            display: block;
            .modal-title {
                font-family: "Roboto", serif;
                font-size: 1.2rem;
                line-height: 1.4;
                text-transform: uppercase;
                font-weight: 450;
                letter-spacing: 1.5px;
            }
        }
        .modal-body-header {
            font-family: "Roboto", serif;
            font-weight: 700;
            font-style: normal;
            line-height: 1.4;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #6f1d1b
        }
    }
}